/* IMPORTS */
/* -------------------------------------------------- */

@import url('./fontface.css');
@import url('./bootstrap/bootstrap-grid.min.css');

/* GLOBAL VARIABLES */
/* -------------------------------------------------- */

:root {
  --primary-color: #192a56;
  --secondary-color: #8c7ae6;
  --black-color: #1e272e;
  --white-color: #FFFFFF;
  --gradient-color: linear-gradient(230deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  --container-width: 1396px
}


/* BODY GLOBAL SETTING */
/* -------------------------------------------------- */

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Source Sans Pro";
  color: var(--black-color);
  font-size: 18px;
}

body {
  margin-top: 80px;
}

.nav-open {
  overflow: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--white-color);
    background: var(--black-color);
  }
}


/* ANCHOR */
/* -------------------------------------------------- */

a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: 500;
  transition: opacity .4s;
}

a:hover,
a:focus {
  opacity: 0.5;
}


/* TYPOGRAPHY */
/* -------------------------------------------------- */

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  line-height: 1.2;
  margin: 0px 0px 16px;
}

h1 {
  font-size: 68px;
}
h2 {
  font-size: 48px;
}
h3 {
  font-size: 38px;
}
h4 {
  font-size: 32px;
}
h5 {
  font-size: 26px;
}
h6 {
  font-size: 22px;
}

p {
  margin: 0px 0px 16px;
  font-size: 18px;
  letter-spacing: 0.75px;
}


/* CONTAINER */
/* -------------------------------------------------- */

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}


/* HEIGHT / WIDTH */
/* -------------------------------------------------- */

.h-100vh {
  height: calc(100vh - 80px);
}
.w-100vw {
  width: 100vw;
}


/* DISPLAY */
/* -------------------------------------------------- */

.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-none {
  display: none;
}
.d-inlineblock {
  display: inline-block;
}


/* FLEXBOX */
/* -------------------------------------------------- */

.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-itemst-end {
  align-items: flex-end;
}
