/* Topline */
/* -------------------------------------------------- */

.headline .topline {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1.75px;
    background: -webkit-linear-gradient(230deg, var(--primary-color) 0%, var(--secondary-color) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}